/* version 1 */
.block {
    text-align: center;
}

.block__row {
    border: 10px solid #ece89d;
    display: inline-flex;
}

.block__element {
    border: 5px solid #5e5373;
}

.block__content {
    background-color: #18b5a4;
}

/* version 2 */
.block__row_1 {
    border: 10px solid #ece89d;
    display: flex;
    justify-content: center;
}

.block__element_1 {
    border: 5px solid #5e5373;
}

.block__content_1 {
    background-color: #18b5a4;
}

/* version 3*/
img.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto;
}